<ion-header>

  <ion-toolbar>
    <ion-title>Edit</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content class="ion-padding">



    <ion-list>

        <ion-item>
          <ion-label floating>name</ion-label>
          <ion-input type="text" [(ngModel)]="myInfo.name"></ion-input>
        </ion-item>
 
        <ion-item>
          <ion-label floating>description</ion-label>
          <ion-textarea type="text" [(ngModel)]="myInfo.description"></ion-textarea>
        </ion-item>
        <ion-item>
          <ion-label floating>category</ion-label>
          <ion-textarea type="text" [(ngModel)]="myInfo.category"></ion-textarea>
        </ion-item>
        <ion-item>
          <ion-label floating>cost</ion-label>
          <ion-textarea type="text" [(ngModel)]="myInfo.cost"></ion-textarea>
        </ion-item>
        <ion-item>
          <ion-label floating>stock</ion-label>
          <ion-textarea type="text" [(ngModel)]="myInfo.stock"></ion-textarea>
        </ion-item>
        <ion-item>
          <ion-label floating>barcode</ion-label>
          <ion-textarea type="text" [(ngModel)]="myInfo.barcode"></ion-textarea>
        </ion-item>
      
      </ion-list>
    
    
      <div class="ion-padding" class="btn btn-success">
        <button   ion-button color="secondary"   (click)="myUpdate()"   >Update</button>
      </div>


</ion-content>